{% extends 'base.html'%} {% block content%}
<div class="container">
  <!-- teacher form -->
  <form action="" method="POST">
    {% csrf_token%}
    <h2>Register</h2>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />

    <label for="confirm_password">Confirm_Password:</label>
    <input type="password" id="password" name="confirm_password" required />

    <label for="role">Role:</label>
    <select name="role" id="role">
      <option value="">Select Role</option>
      <option value="student">Student</option>
      <option value="teacher">Teacher</option>
      <option value="cashier">Cashier</option>
    </select>

    <br /><br />
    <button type="submit">Submit</button>
    Already have an account? <a href="{% url 'signin'%}">Login</a> <br /><br />
    <td>
      <a href="{% url 'signin'%}" class="edit-btn">Cancel</a>
    </td>
  </form>

  <!-- end of teacher form -->
</div>
{% endblock content%}
