{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>United Academy</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}" />
  </head>

  <body>
    {% block nav %}
    <!-- Default Navigation for all pages unless overridden -->
    {% if request.user.is_superuser or request.user.role == 'admin' %}
    <nav>
      <h2><a href="{% url 'dashboard' %}" class="logo">UCA DASHBOARD</a></h2>
      <ul>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'teacher_list' %}">Teachers</a></li>
        <li><a href="{% url 'student_list' %}">Students</a></li>
        <li><a href="{% url 'classroom_list' %}">Classrooms</a></li>
        <li><a href="{% url 'subject_list' %}">Subjects</a></li>
        <li><a href="{% url 'result_list' %}">Results</a></li>
        <li><a href="{% url 'cashier_list' %}">Cashier</a></li>
        <li><a href="{% url 'fee_list' %}">Fee Payment</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </nav>
    {% elif request.user.role == 'teacher' %}
    <nav>
      <h2><a href="{% url 'dashboard' %}" class="logo">UCA DASHBOARD</a></h2>
      <ul>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'student_list' %}">Students</a></li>
        <li><a href="{% url 'classroom_list' %}">Classrooms</a></li>
        <li><a href="{% url 'subject_list' %}">Subjects</a></li>
        <li><a href="{% url 'result_list' %}">Results</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </nav>
    {% elif request.user.role == 'student' %}
    <nav>
      <h2><a href="{% url 'dashboard' %}" class="logo">UCA DASHBOARD</a></h2>
      <ul>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'classroom_list' %}">Classrooms</a></li>
        <li><a href="{% url 'subject_list' %}">Subjects</a></li>
        <li><a href="{% url 'result_list' %}">Results</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </nav>
    {% else %}
    <nav>
      <h2><a href="{% url 'dashboard' %}" class="logo">UCA DASHBOARD</a></h2>
      <ul>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'fee_list' %}">Fee Payment</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </nav>
    {% endif %} {% endblock nav %} {% block content %} {% endblock content %}

    <section class="footer">
      <footer>
        <p>CopyRight &copy; 2025 by United Christian Academy</p>
      </footer>
    </section>

    <script>
      // Your JavaScript code here
    </script>
  </body>
</html>
