{% extends 'dashboard/base.html'%} {% block content%}

<div class="container">
  <h1>Welcome : {{user.username}}</h1>
  <h2>Fees Dashboard</h2>
  <br />
  <!-- TABLE -->
  <td>
    <a href="{% url 'fees_create'%}" class="btn view">Add Fees</a>
  </td>
  <div class="table-wrapper">
    <table class="responsive-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Student</th>
          <th>Amount</th>
          <th>Payment Method</th>
          <th>Status</th>
          <th>Cashier</th>
          <th>Date of Payment</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for payment in payments %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ payment.student.user_profile.username }}</td>
          <td>&#8358; {{ payment.amount }}</td>
          <td>{{ payment.payment_method }}</td>
          <td>{{ payment.payment_status }}</td>
          <td>{{ payment.cashier.username}}</td>
          <td>{{ payment.date_of_payment|date:"Y-m-d H:i" }}</td>
          <td class="actions">
            <a href="{% url 'fee_update' payment.id %}" class="btn edit"
              >Edit</a
            >
            {% comment %}
            <a href="{% url 'delete_fees' payment.id %}" class="btn delete"
              >Delete</a
            >
            {% endcomment %}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="8">No payments found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- PAGINATOR -->
  </div>
</div>
{% endblock content%}
