{% extends 'dashboard/base.html' %} {% block content %}
<div class="container">
  <!-- FORM -->
  <h1>Add Subject</h1>
  <div class="form-wrapper">
    <form
      class="responsive-form"
      action="{% url 'subject_create' %}"
      method="POST"
    >
      {% csrf_token %}

      <!-- Subject Name -->
      <div class="form-group">
        <label for="name">Subject Name</label>
        <input type="text" name="name" id="name" required />
      </div>

      <!-- Subject Description -->
      <div class="form-group">
        <label for="desc">Description</label>
        <textarea name="desc" id="desc" required></textarea>
      </div>

      <!-- Teacher Selection (Optional) -->
      <div class="form-group">
        <label for="teacher">Assign Teacher(s) (Optional)</label>
        <select name="teacher" id="teacher" multiple>
          {% for teacher in teachers %}
          <option value="{{ teacher.id }}">{{ teacher.user_profile}}</option>
          {% endfor %}
        </select>
      </div>

      <button type="submit" class="submit-btn">Add Subject</button>
      <br /><br />
      <td>
        <a href="{% url 'subject_list' %}" class="btn view">Go Back</a>
      </td>
    </form>
  </div>
</div>
{% endblock content %}
