<!-- student_edit.html -->
{% extends 'dashboard/base.html' %}

{% block content %}
<div class="container">
    <h1>Edit Student</h1>
    <div class="form-wrapper">
        <form class="responsive-form" method="POST" action="{% url 'student_edit' id=student.id %}">
            {% csrf_token %}
            {% if error %}
            <div class="error">{{ error }}</div>
            {% endif %}
            <div class="form-group">
                <label>First Name</label>
                <input type="text" name="first_name" value="{{ student.user_profile.first_name }}" required>
            </div>

            <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="last_name" value="{{ student.user_profile.last_name }}" required>
            </div>

            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" value="{{ student.user_profile.username }}" required>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" value="{{ student.user_profile.email }}" required>
            </div>

            <div class="form-group">
                <label>Password (Leave empty to keep unchanged)</label>
                <input type="password" name="password">
            </div>

            <div class="form-group">
                <label>Date of Birth</label>
                <input type="date" name="date_of_birth" value="{{ student.date_of_birth }}" required>
            </div>

            <div class="form-group">
                <label>Class</label>
                <select name="school_class" required>
                    <option value="">Select Class</option>
                    {% for cls in classes %}
                    <option value="{{ cls.id }}" {% if cls.id == student.school_class.id %}selected{% endif %}>{{ cls.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="submit-btn">Update Student</button>
            <br><br>
            <a href="{% url 'student_list' %}" class="btn view">Go Back</a>
        </form>
    </div>
</div>
{% endblock content %}
