{% extends 'dashboard/base.html' %} {% block content %}
<div class="container">
  <h1>Edit Cashier: {{ cashier.username }}</h1>
  <div class="form-wrapper">
    <form
      class="responsive-form"
      method="POST"
      action="{% url 'cashier_update' cashier.id %}"
    >
      {% csrf_token %}

      <!-- Display error message if present -->
      {% if error %}
      <div class="error">{{ error }}</div>
      {% endif %}

      <!-- Username -->
      <div class="form-group">
        <label for="username">Username:</label>
        <input
          type="text"
          name="username"
          id="username"
          value="{{ cashier.username }}"
          required
        />
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          name="email"
          id="email"
          value="{{ cashier.email }}"
          required
        />
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
      </div>

      <!-- Submit Button -->
      <button type="submit" class="submit-btn">Update Cashier</button>
      <br /><br />
      <a href="{% url 'cashier_list' %}" class="btn view">Go Back</a>
    </form>
  </div>
</div>
{% endblock content %}
